/// colors

$white: #fff;
$black: #000;
$blue: #311795;
$bluLight:#341A9B;
$gray: #858585;
$red:#EA0000;
$redlight: #ED2E5C;
$green: #27AE60;
$graylight: #F6F4FE;

/// fonts

$mm:"Montserrat-Medium";
$rr: "Roboto-Regular";


/// font-size

$f40:4rem;
$f36:3.6rem;
$f24:2.4rem;
$f16:1.6rem;
$f14:1.4rem;
$f12:1.2rem;

/// line-height

$l49:4.9rem;
$l32:3.2rem;
$l28:2.8rem;
$l19:1.9rem;
$l17:1.7rem;
$l16:1.6rem;
$l15:1.5rem;







