//Header

.main-header {
    padding:1.6rem 3rem;
    display: flex;
    flex-direction:row;
    background-color:$blue;
    justify-content: space-between;
    align-items: center;
}

.header-right {
    display:inline-flex;
    align-items: center;
}

.lang {
    margin-left:3rem;
}

